div {
  #wrapper {
      width: 90%;
      height: 900px;
  }
  #left-index-col {
      width:50%;
      background-color: @red;
  }

  #right-index-col {
      width:50%;
      background-color: @green;
  }
}