<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavbarController">
    <div class="container-fluid">
        <div class="navbar-header pull-left">
            <a class="navbar-brand" ng-click="" href="" id="navbar-header-name">
                ANDPlanning Poker
            </a>
        </div>
        <div class="nav pull-right">
            <a ng-show="loggedIn()" ng-click="" href="" class="logout btn navbar-btn pull-left">Log out</a>
            <button id="hamburger" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" ng-click="openCloseMenus()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
    </div>
</nav>